@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: #F7F9FC;
    color: #575F7D;
    font-size: 17px;
    font-weight: lighter;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 0.5rem;
}

h2 {
    color: crimson;
}

.container {
    margin: 40px auto;
    text-align: center;
}
    .image-profile {
        border-radius: 50%;
        text-align: center !important;
    }

    p {
        line-height: 1.5rem;
    }

    .btn-primary {
        color: white;
        padding: 15px 20px;
        border-radius: 4px;
    }

    a {
        text-decoration: none !important;
    }

btn:hover {
    text-shadow: 0px 0px 4px #000000;
  }

li {
     list-style-type:none;
}

.img-circle {
    border-radius: 50%;
  }
  .text-center {
    text-align: center;
  }
  .card {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
  }

ul {
    display: inline-block;
    color: crimson;
}
.list-line {
    list-style: none;
    padding-left: 0px;
}